<!DOCTYPE html>
<title>How to use highlight.js</title>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.7.0/styles/default.min.css">

<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.7.0/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
<link rel="stylesheet" href="styles/code.css">
<link class="codestyle" href="styles/agate.css" rel="stylesheet">
<link rel="stylesheet" href="css/snippet.css" type="text/css">
<div id="snippet">
<pre><code class="yaml hljs">
<span class="hljs-attr">- hosts:</span> all
<span class="hljs-attr">  become:</span> <span class="hljs-literal">true</span>
<span class="hljs-attr">  roles:</span>
<span class="hljs-bullet">    -</span> {role: basic} 
</code></pre>
</div>
